#contactContainer{
    margin: 10% auto;
    width: 40%;
    background-color: #dad8e8;
   box-shadow: 1px 1px 5px 4px rgba(202,189,189,0.75);
-webkit-box-shadow: 1px 1px 5px 4px rgba(202,189,189,0.75);
-moz-box-shadow: 1px 1px 5px 4px rgba(202,189,189,0.75);
}
#user{
    position: relative;
    padding-top: 5%;
    text-align: center;
    color:#29487d;

}
#user h3{
    margin-top: 2%;
}
#contactText{
    text-align: center;
    margin-top: 10px;
}
#contactForm{
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 35px;
    margin-left: 10%;
}

.inputArea{
    background-color: #dad8e8;
    border: #29487D solid 2px;
   box-shadow: 2px 3px 5px 3px rgba(0,0,0,0.81);
-webkit-box-shadow: 2px 3px 5px 3px rgba(0,0,0,0.81);
-moz-box-shadow: 2px 3px 5px 3px rgba(0,0,0,0.81);
color: black;
font-size: 20px;
}

#name{
    height: 50px;
}

#contactForm textarea{
    height: 200px;
}
#logoutBtn{
    text-align: center;
    margin-top: 5%;
    padding-bottom: 10%;
}
#logoutBtn input{
    border: none;
    background-color: #dad8e8;
    width: 30%;
    height: 40px;
    color:#29487d;
    border: 2px solid #29487d;
    border-radius: 25px;
    font-weight: bold;
}
#logoutBtn input:hover{
    background-color: #29487d;
    color:#dad8e8;
    width: 32%;
    height: 45px;
    transition: 0.25s;
    /* border: 2px solid #dad8e8; */

}