#blogContainer {
  width: 98%;
  margin: 0 1%;
  position: relative;
  top: 20px;
box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.48);
-webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.48);
-moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.48);
}
#heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid rgb(129, 129, 129); */
}
#Icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin-right: 1%;
}
#title {
  margin-left: 5%;
  color: #29487d;
  padding-top: 20px;
  /* padding-bottom:15px; */

}
#likeBtn {
  margin-right: 5%;
  display: flex;
  align-items: center;
}
#likeText{
  color: #3c5898;
}
#content {
  position: relative;
  margin-bottom: 50px;
  font-size: 18px;
  margin-left: 5%;
  margin-right: 3%;
  margin-top: 3%;
  height: auto;
  /* preserver line breaks and tab spaces too */
  white-space: pre-wrap;  
    /* add content to next line if exceeds div's width  AVOID HORIZONTAL SCROLL */
  overflow-wrap: break-word;
  color: black;
  font-weight: 300;
}
#authorDetails{
  width: 30%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 75%;
    color: #476fcc;
  font-weight: 200;
  padding-bottom: 20px;

}
#authorHeading{
  color: #29487d;
  font-size: 20px;
  font-weight: bold;
}